@media screen and (max-width: 1280px) {
  .conteiner__card-certificate {
    padding: 100px 30px;
  }
}

@media screen and (max-width: 900px) {
  .conteiner__card-certificate {
    padding: 100px 10px;

    & .box {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 450px) {
  .conteiner__card-certificate {
    padding: 100px 0;

    & .box {
      grid-template-columns: 1fr;
    }
  }
}
