<section id="home" class="conteiner__big-card">
  <div class="big-card__content">
    <div class="big-card__description">
      <h4>Ola , Meu nome é</h4>
      <h1>Jonathan <span>Costa</span></h1>
      <h3>Sou um Desenvolvedor Web.</h3>
    </div>
    <div class="big-card__contact">
      <div class="btns">
        <button (click)="openPDF()">Abrir CV</button>
      </div>
    </div>
  </div>
  <div class="big-card__photo">
    <img class="desktop" src="../../../assets/IMG/photo-1.jpeg" alt="" />
    <img class="mobile" src="../../../assets/IMG/photo.png" alt="" />
  </div>
</section>
