.conteiner__big-card {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;

  & .big-card__content {
    margin-right: 400px;

    & .big-card__description {
      color: #fff;

      & h1 {
        margin: 20px 0px 20px;
        font-size: 60px;
      }

      & h3 {
        color: white;
        font-size: 25px;
        margin-bottom: 70px;
      }

      & h4 {
        color: #fcfc;
        letter-spacing: 2px;
        font-size: 15px;
      }
    }

    & .big-card__contact {
      & .btns {
        & button {
          width: 150px;
          height: 50px;
          margin-right: .5rem;
          background-color: #f9004d;
          color: white;
          text-decoration: none;
          border: 2px solid transparent;
          font-weight: bold;
          padding: 2px 22px;
          border-radius: 7px;
          transition: .4s;
          cursor: pointer;
        }
      }
    }
  }

  & .big-card__photo {
    & img {
      width: 100%;
      height: 650px;
    }
  }
}

@keyframes flutuar {
  0% {
    transform: translateY(0px)rotate(14deg);
  }

  50% {
    transform: translateY(-80px)rotate(-14deg);

  }

  100% {
    transform: translateY(0px)rotate(14deg);

  }
}
