<section class="conteiner__card-about-me" id="about">
  <div class="card-about__photo">
    <img src="../../../assets/IMG/photo-2.png" alt="Minha Foto" />
  </div>
  <div class="card-about__description">
    <div class="about-text">
      <h2>Sobre mim</h2>
      <h5><span>Desenvolvedor</span></h5>
      <p>
        Desenvolvedor web apaixonado, atualmente cursando Sistemas de Internet,
        busca oportunidade para aplicar conhecimentos em PHP, HTML, CSS,
        JavaScript, Banco de Dados e Python. Interessado em desafios em uma
        empresa inovadora, almejo contribuir para projetos web de ponta,
        colaborando com uma equipe criativa. <br /><br />
        Dediquei tempo ao GitHub, onde destaco projetos como a Lista De Leitura
        (plataforma de gerenciamento de livros) e futebol_score (acompanhamento
        de ligas de futebol em tempo real). <br /><br />
        Embora sem experiência formal, demonstro paixão e dedicação, buscando
        oportunidades para expandir minha experiência prática em desenvolvimento
        web.
      </p>
    </div>
  </div>
</section>
