@media screen and (max-width: 1280px) {
  .conteiner__card-works {
    background-color: #000;
    width: 100%;

    padding: 100px 30px;
  }
}

@media screen and (max-width: 900px) {
  .conteiner__card-works {
    padding: 100px 30px;

    & .card-works__title {
      & h2 {
        width: 100%;
        font-size: 50px;
      }
    }

    & .card-works {
      padding: 20px 0;

      & .card-works__box {
        grid-template-columns: 1fr 1fr;

        & .card-works__card {
          & .pra {
            & .show_less {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .conteiner__card-works {
    padding: 100px 30px;

    & .card-works__title {
      & h2 {
        width: 100%;
        font-size: 50px;
      }
    }

    & .card-works {
      padding: 20px 0;

      & .card-works__box {
        grid-template-columns: 1fr;

        & .card-works__card {
          & .pra {
            & .show_less {
              display: block;
            }
          }
        }
      }
    }
  }
}
