<section id="tech" class="conteiner__card-tech">
  <div class="title">
    <h2>
      <i class="bi bi-tools"></i>
      Tech Stack
    </h2>
  </div>
  <div class="card-tech__tool">
    <app-tools
      icon="bi-brush"
      title="Frontend"
      [tools]="[
        'https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white',
        'https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white'
      ]"
    >
    </app-tools>
    <app-tools
      icon="bi-person-gear"
      title="Backend"
      [tools]="[
        'https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black',
        'https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white',
        'https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54',
        'https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white'
      ]"
    >
    </app-tools>
    <app-tools
      icon="bi-house-gear"
      title="Frameworks"
      [tools]="[
        'https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white'
      ]"
    >
    </app-tools>
    <app-tools
      icon="bi-database-gear"
      title="Banco de Dados"
      [tools]="[
        'https://img.shields.io/badge/MySQL-00000F?style=for-the-badge&logo=mysql&logoColor=white',
        'https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white'
      ]"
    >
    </app-tools>
    <app-tools
      icon="bi-tools"
      title="Ferramentas"
      [tools]="[
        'https://img.shields.io/badge/GIT-E44C30?style=for-the-badge&logo=git&logoColor=white',
        'https://img.shields.io/badge/Figma-696969?style=for-the-badge&logo=figma&logoColor=figma',
        'https://img.shields.io/badge/Vscode-007ACC?style=for-the-badge&logo=visual-studio-code&logoColor=white',
        'https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white'
      ]"
    >
    </app-tools>
  </div>
</section>
