@media screen and (max-width: 1280px) {
  .conteiner__card-tech {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 900px) {
  .conteiner__card-tech {
    padding: 30px;

    & .card-tech__tool {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 428px) {
  .conteiner__card-tech {
    padding: 30px 60px;

    & .card-tech__tool {
      grid-template-columns: 1fr;
    }
  }
}
